# Database environment variables
DB_USER=gitea
DB_PASSWORD=CHANGE_THIS
DB_NAME=gitea
DB_HOST=db

# Gitea environment variables
GITEA_URL=http://YOUR_SERVER:2200
GITEA_HTTP_PORT=2200
GITEA_SSH_PORT=2222

# User IDs
USER_UID=1000
USER_GID=1000

# Gitea Data Volumes
GITEA_DATA=/data/gitea-repositories
